.smooth-text-container {}
.smooth-text-container:after {
    content: '|';
    font-size: inherit;
    font-weight: inherit;
    opacity: 1;
    animation: flicker 1000ms infinite steps(1);
    position: relative;
    top: -0.1em;
}

@keyframes flicker {
    50% {
        opacity: 0;
    }
}
.smooth-text-container.smooth-text-container--carriage-hide:after {
    display: none;
}